<div class="container">
    <div class="center-page">
<h2>Antrian Laundry Anda</h2>

<p>Nama: <%= nama %></p>
<p>Jenis Laundry: <%= jenis %></p>
<p>Jumlah Pakaian: <%= jumlah %></p>
<p>Estimasi Waktu: <%= estimasi %> menit</p>

<p><b>Rekomendasi Sistem:</b> <%= rekomendasi %></p>

<a href="/">Kembali ke Home</a>
</div>
</div>
